*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
  background-color:  lightsteelblue;
}
.container{
    background-color: white;
    border-radius: 10px;
    height: 30vh;
    width: 40vw;
    margin: 10em auto;
    padding: 20px;
}

.container h1{
    color:  rgb(155, 52, 52);
    text-align: center;
    margin-bottom: 20px;
}
p{

    margin-left: 40px;
}
#statusText{
    margin-left: 10px;

}